.footer_main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  height: 25vh;
  background-color: #324a6e;
  color: white;
  position: relative;
}
.custom-shape-divider-top-1652422666 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1652422666 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 69px;
}

.custom-shape-divider-top-1652422666 .shape-fill {
  fill: #4a6e32;
}
